body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Lato,sans-serif;
  line-height: 1.5;
  
}

.container{
  height: 100%;
}

.back-image{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../src/images/back2.jpg");
  background-size: cover;
  opacity: 0.7;
}

.main{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  //background-image: url("../images/back2.jpg");
  //background-size: cover;
}

.col{
  &--no-padding{
      padding-right: 0px;
      padding-left: 0px;
  }
}

.title{
  height: 100px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;

  .title__top{
      font-size: 24px;
      font-weight: bold;
  }

  .title__bottom{
      font-size: 17px;
      color: #635e5e;
  }
}

.menu{

  height: 69px;
  padding-top: 20px;
  position: absolute;
  top: 130px;
  left: 0px;
  right: 0px;

  .manu__item{
      float: left;
      padding: 15px 20px;
      background-color: #18e02a;
      margin-left: 1%;
      width: 32%;
      text-align: center;
      font-weight: bold;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      font-size: 13px;

      &--first{
        margin-left: 0%;
      }
      &--selected{
          border-top: 2px #18e02a solid;
          border-left: 2px #18e02a solid;
          border-right: 2px #18e02a solid;
          background-color: #f9f2f3;
      }

      &--notification{
          position: static;
          float: right;
          position: static;
          float: right;
          background-color: #f9f2f3;
          width: 170px;
          padding-top: 7px;
      }
  }
}

.content{

  position: absolute;
  left: 0px;
  right: 0px;
  top: 200px;
  bottom: 0px;

  .informations{
      height: 421px;
      background-color: #f9f2f3;
      margin-right: 5px;
      overflow-y: scroll;
      position: relative;

      &__gdy{
          display: none;
      }

      &__comparison{
          display: none;
      }
  }

  .map{
      height: 420px;
      background-color: #e0e0e0;
      width: 100%;
  }   
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

.separator{
  width: 100%;
  border-bottom: 1px solid gray;
}

.informations__row{
  padding: 15px;

  &--rate{
      height: 60px;
      padding-top: 15px;
  }

  &--current{
      height: 167px;
      padding-top: 15px;
  }

  &--currentgdy{
      height: 80px;
      padding-top: 15px;
  }
}

.row__title{
  text-align: center;
}

.name__data{
  font-size: 24px;
  font-weight: bold;
}

.row {
  height: 100%;

  &__rate-number{
    float: left;
    min-width: 30px;
    padding: 3px;
    text-align: center;
    border: 2px #18e02a solid;
    border-radius: 5px;
    color: #18e02a;
  }

  &__rate {
    padding-left: 10px;
    padding-top: 3px;
    float: left;
  }

  &__current {
    &--half {
      float: left;
      width: 50%;
    }
  }

  &_name {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 7px;
  }

  &__menu-prediction {
    width: 100%;
    height: 24px;
    background-color: #e4dddd;
  }
}

.current{
  color: #585353;
}

.current__value{
  font-weight: bold;
  font-size: 20px;
  color:black;
}

.current__unit{
  font-size: 12px;
}

.historic__graph{
  width: 100%;
  height: 230px;
}

.row__menu-historic, .row__menu-prediction, .row__menu-historic-comparison{
  width: 100%;
  height: 24px;
  background-color: #e4dddd;
}


.menu-historic__item, .menu-historic-gdy__item, .menu-historic-comp__item{
  width: 33%;
  float: left;
  text-align: center;
  border-top: 2px #ccc2c2 solid;

  &--selected{
      border-top: 2px #878d90 solid;
      background-color: #f9f2f3;
  }

  &--25{
    width: 25%;
}
}

.menu-prediction__item, .menu-prediction-gdy__item{
  width: 50%;
  float: left;
  text-align: center;
  border-top: 2px #ccc2c2 solid;

  &--selected{
      border-top: 2px #878d90 solid;
      background-color: #f9f2f3;
  }
}

.menu-prediction-comp__item{
  width: 33.3%;
  float: left;
  text-align: center;
  border-top: 2px #ccc2c2 solid;

  &--selected{
      border-top: 2px #878d90 solid;
      background-color: #f9f2f3;
  }
}

#mapid{
  width: 100%; 
  height:100%
}

.choose-city{
  height: 35px;
  &__title{
      width: 130px;
      float: left;
      margin-top: 7px;

      &--second{
          width: 110px;
      }
  }
  &__select{
      width: 150px;
      float: left;
  }
}

.choose-city-second{
  height: 35px;
}

.leaflet-container {
  height: 400px;
  //width: 800px;
}

.col-7--no-padding{
  padding: 0px;
}